.section-banner {
    padding-inline: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0px;
}

.container-banner {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-block: 5rem;
}

.hero-title {
    z-index: 2;
    position: relative;
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 1.3;
    color: #263946;
}

/* Texto com gradiente */
.gradient-text {
    background: linear-gradient(90deg, #253540 0%, #4BA3DB 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

.flash {
    position: absolute;
    z-index: 1;
    margin-top: -1rem;
}

.container-banner h2 {
    color: #252531;
    font-size: 1.5rem;
    font-weight: 400;
}

.container-banner h2 b {
    font-weight: 800;
}

.container-banner button {
    background-color: #F26800;
    color: #fff;
    font-size: 1.3rem;
    width: fit-content;
    padding-inline: 55px;
    padding-block: 18px;
    border-radius: 60px;
    border: none;
    cursor: pointer;
    font-weight: 700;
}

/* avaliação estrelas */
.avaliacao-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.avatars {
    width: 8rem;
}

.avaliacao-container h4 {
    color: #1E1E23;
    font-size: 1.1rem;
    font-weight: 400;
}

.content-starts {
    display: flex;
    flex-direction: column;
    gap: 0rem
}

.content-starts p {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    color: #63636E;
    font-size: 0.8rem;
    font-weight: 400;
}



/* galeria alunos */

.galeria-alunos {
    width: 50%;
    display: flex;
    gap: 0.5rem;    
    height: fit-content;
}

/* colunas esquerda e direita */
.galeria-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* linha de baixo com 2 fotos lado a lado */
.linha-baixo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 0.4;
}

/* estilo base das imagens */
.foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    display: block;
    box-shadow: #969696 0px 0px 2px 0px;
}

/* foto grande da esquerda ocupa tudo */
.foto-grande {
    flex: 1;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

/* foto vertical de cima na direita */
.foto-vertical {
    flex: 1.1;
    /* um tiquinho maior */
}

/* duas menores embaixo na direita */

.foto-menor {
    flex: 0.4;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.foto-menor2 {
    flex: 0.4;
}