.dreams-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0px;
    min-height: 100vh;
}

.left-dreams {
    width: 60%;
    background-image: url("../assets/bg-paper.webp");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: right;
    justify-content: center;
    padding-left: 10%;
}

.title-left-dreams {
    color: #0062A1;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: normal;
}

.left-dreams p {
    display: block;
    color: #00335B;
    font-size: 2rem;
    font-weight: 500;
    font-family: kalam, sans-serif;
}

.btn-dreams {
  background-color: #F26800;
  color: #fff;
  font-size: 1.2rem;
  width: fit-content;
  padding-inline: 120px;
  padding-block: 15px;
  border-radius: 60px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  margin-top: 2rem;
}

.checked-dream {
    position: absolute;
    z-index: 1;
    min-width: 400px;
    width: auto;
    margin-left: 13rem;
    margin-top: -1rem;
    
}
.checked-dream-mobile {
    display: none;    
}

.right-dreams {
    width: 40%;
    background-image: url("../assets/alunos/aluna.webp");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.paragraph-dream {
  display: none;
}
.title-left-dreams-mobile {
  display: none;
}
@media (max-width: 768px) {

  .dreams-container {
    flex-direction: column;
    min-height: auto;
  }

  .left-dreams,
  .right-dreams {
    width: 100%;
  }

  .left-dreams {
    padding-inline: 0.8rem;
    padding-top: 3rem;
    padding-bottom: 2.5rem;
    align-items: flex-start;
    text-align: left;
  }
  .title-left-dreams {
    display: none;
  }
  .title-left-dreams-mobile {
    display: block;
    color: #0062A1;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: normal;
  }

  .checked-dream-mobile {
    display: block;
    position: absolute;
    z-index: 1;
    width: 200px;
    margin-left: -1rem;
    margin-top: -0.5rem;
    
}

  .right-dreams {
    min-height: 320px;
  }
  .btn-dreams {
    font-size: 1rem;
    width: max-content;
    padding-inline: 80px;
  }
  .left-dreams p {
    font-size: 1.3rem;
  }
  .right-dreams {
    width: 100%;
    min-height: 60vh;
}
}
