header {
    background-color: #00335B;
    padding-block: 5px;
    padding-inline: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    max-width: 100px;

}
header nav ul {
    display: flex;
    flex-direction: row;
    gap: 60px;
    list-style: none;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 300;
}

header button {
    background-color: #FFF;
    color: #00335B;
    padding-block: 5px;
    padding-inline: 30px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    font-size: 1.2rem;
}