.section-metodo {
  background-image: url("../assets/bg-page.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  min-height: 100vh;
}


.container-title-metodo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  justify-content: center;
  padding-block: 2rem;
}

.section-metodo-title {
  font-family: "kalam", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: #FFF;
}

.section-title-description {
  background: linear-gradient(to bottom, #fff 0%, #6BC5FF 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  font-size: 3.5rem;
  margin-top: -1rem;
}

.glow-line {
  border: none;
  height: 10px;
  width: 50%;
  margin: 0 auto;
  border-radius: 20px;

  background: radial-gradient(ellipse at center,
      #6AC4FF 0%,
      #6AC4FF 30%,
      rgba(106, 196, 255, 0) 80%);
}
/* card metodos container */
.cards-metodos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-evenly;
  gap: 2rem;
  padding-block: 2rem;
  padding-inline: 10%;
  flex-wrap: wrap;
}

.card-metodo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}


.card-metodo h4 {
  text-align: center;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 300;
}

.card-span {
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: fit-content;
  padding: 0.1rem 1rem;
  border-radius: 20px;
  background: #F26800;
  color: #fff;
  font-weight: 300;
 margin-top: -0.8rem;

}

.card-metodo-image {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 400px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 0px rgba(12, 12, 12, 0.75);
}

.card-img-prof {
  width: 100%;
  height: auto;
  max-width: 600px;
  max-height: 600px;
  border: 4px solid #6AC4FF;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 0px rgba(12, 12, 12, 0.75);
}