.universidades {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    border: 1px solid #bdbdbd;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
    padding-inline: 3%;
}

.universidades img {
    width: auto;
    height: 100px;
    max-height: fit-content;
    max-width: 150px;

}